a#scroll-to-top {
  &:link, &:visited {
    opacity: .8;
    background: transparent image-url('scroll-to-top.svg');
    display: inline-block;
    position: absolute;
    bottom: 2.5rem;
    right: 2.5rem;
    height: 32px;
    width: 32px;
    border-bottom: 0;
    transition-duration: all 0.2s ease-in-out;
  }

  &:hover, &:active {
    opacity: .4;
    padding-bottom: 0;
    border-bottom: 0;
    bottom: 3rem;
    transition-duration: all 0.2s ease-in-out;
  }
}

@media only screen and (max-width: $small) {
  a#scroll-to-top {
    &:link, &:visited, &:hover, &:active {
    display: none;
    }
  }
}

@media only screen and (min-width: $small) {
  a#scroll-to-top {
      &:link, &:visited, &:hover, &:active {
        right: 3.5rem;
        bottom: 4.7rem

      }
  }
}

@media only screen and (min-width: $medium) {
  a#scroll-to-top {
      &:link, &:visited, &:hover, &:active {
        right: 3.5rem;
      }
  }
}

@media only screen and (min-width: $large) {
  a#scroll-to-top {
      &:link, &:visited, &:hover, &:active {
        right: 4rem;
      }
  }
}

@media only screen and (min-width: $large) {
  a#scroll-to-top {
      &:link, &:visited, &:hover, &:active {
        right: 5rem;
      }
  }
}
