#nav-toggle {
  user-select: none;
	cursor: pointer;
  width: 2.2rem;
  height: 3rem;
  padding-top: 1.4rem;
  padding-bottom: 0;
  background-color: transparent;
  border: 0;
  &:hover {
    span, span:after, span:before {
      background-color: rgba($white, 0.7);
    }
    transition: opacity 0.2s ease;
  }

  span:after, span:before {
  	content: "";
  	position: absolute;
  	left: 0;
  	top: -11px;
  }

  span:after{
  	top: 11px;
  }

  span {
  	position: relative;
  }

  span, span:after, span:before {
    display: block;
  	width: 100%;
  	height: 2px;
  	background-color: $white;
  	transition: all 0.3s ease;
  }

  &.is-active span {
  	background-color: transparent;
  }

  &.is-active span:before {
    background-color: $gray-5;
  	transform: rotate(45deg) translate(5px, 8px);
  }

  &.is-active span:after {
    background-color: $gray-5;
  	transform: rotate(-45deg) translate(7px, -11px);
  }
  &.is-active {
    &:hover {
      span:after, span:before {
        background-color: rgba($gray-5, 0.7);
      }
      transition: opacity 0.2s ease;
    }
  }
}

.toggle-nav {
  animation-delay: 1s;
  animation-duration: 1.2s;
  animation-name: fadeInNav;
  animation-fill-mode: both;
  box-sizing: border-box;
  right: 2rem;
  top: 1rem;
  position: absolute;
  z-index: 9999999999999;
  transition: all 0.2s ease;
}

.toggle-nav.is-active {
  right: 2rem;
  top: 1rem;
  position: fixed;
  z-index: 9999999999999;
}


@media only screen and (min-width: $small) {
  .toggle-nav {
    right: 3rem;
    top: 2.2rem;
  }
  .toggle-nav.is-active {
    right: 3rem;
    top: 2.2rem;
  }
}

@media only screen and (min-width: $medium) {
  .toggle-nav {
    right: 3rem;
    top: 4rem;
  }
  .toggle-nav.is-active {
    right: 3rem;
    top: 4rem;
  }
}

@media only screen and (min-width: $large) {
  .toggle-nav {
    right: 4rem;
    top: 4rem;
  }
  .toggle-nav.is-active {
    right: 4rem;
    top: 4rem;
  }
}

@media only screen and (min-width: $x-large) {
  .toggle-nav {
    right: 5rem;
    top: 4.2rem;
  }
  .toggle-nav.is-active {
    right: 5rem;
    top: 4.2rem;
  }
}
