a#scroll-to-top {
  &:link, &:visited {
    opacity: .8;
    background: transparent image-url('scroll-to-top.svg');
    display: inline-block;
    position: fixed;
    bottom: 2.5rem;
    right: 5rem;
    height: 32px;
    width: 32px;
    border-bottom: 0;
    transition-duration: all 0.2s ease-in-out;
  }

  &:hover, &:active {
    opacity: .4;
    padding-bottom: 0;
    border-bottom: 0;
    bottom: 3rem;
    transition-duration: all 0.2s ease-in-out;
  }
}
