$white: #ffffff;
$black: #000000;

// Tint
$yellow: #fff3bf;
$tint-1: #d0bfff;
$tint-2: #9775fa;
$soft-white: #f8f9fa;

// Projects
$project-delectable: #1c223d;
$project-alchemist: #1a0c31;
$project-banquet: #131949;
$project-paper: #204991;


// Gray scale
$gray-1: #f8f9fa;
$gray-2: #dee2e6;
$gray-3: #adb5bd;
$gray-4: #868e96;
$gray-5: #495057;
$gray-6: #343a40;
$gray-7: #212529;
