$white: #ffffff;
$black: #000000;

// Tint
$yellow: #fff3bf;
$blue-7: #4dadf7;
$blue-9: #228ae6;

// Projects
$project-delectable: #3D4D5B;
$project-liquid: #A663ED;
$project-banquet: #75ADA4;
$project-dropbox: #007AF5;
$project-ct: #212121;
$project-wheelz: #EB6B2D;


// Gray scale
$gray-1: #f8f9fa;
$gray-2: #dee2e6;
$gray-3: #adb5bd;
$gray-4: #868e96;
$gray-5: #495057;
$gray-6: #343a40;
$gray-7: #212529;
