$small: 38rem;
$small-padding: $small - 2rem;

$medium: 48rem;
$medium-padding: $medium - 2rem;

$large: 68rem;
$large-padding: $large - 2rem;

$x-large: 84rem;
$x-large-padding: $x-large - 2rem;


.container {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

.conatiner-fluid {
  padding-left: 2rem;
  padding-right: 2rem;
}


@media only screen and (min-width: $small) {
  .container {
    width: $small-padding;
  }
}

@media only screen and (min-width: $medium) {
  .container {
    width: $medium-padding;
  }
}

@media only screen and (min-width: $large) {
  .container {
    width: $large-padding;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media only screen and (min-width: $x-large) {
  .container {
    width: $x-large-padding;
    padding-right: 3rem;
    padding-left: 3rem;
  }
}
