.container {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
  margin: 0 auto;
}

.masthead {
  align-items: center;
  justify-content: center;
}

.aligner {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.masthead-text {
  box-sizing: border-box;
  flex-basis: 100%;
  h1, h3 {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.intro {
  box-sizing: border-box;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.project {
  box-sizing: border-box;
  padding-right: 1rem;
  padding-left: 1rem;
}

.project-delectable {
  flex-basis: 100%;
  max-width: 100%;
}

.project-alchemist {
  flex-basis: 100%;
  max-width: 100%;
}

.project-banquet {
  flex-basis: 100%;
  max-width: 100%;
}



@media only screen and (min-width: 44rem) {
  .container {
    width: 42rem;
  }

  .intro {
    padding-right: 3rem;
    padding-left: 3rem;
  }

  .project {
    border: 1.2rem solid #fff;
  }

  .project-alchemist {
    flex-basis: 100%;
    max-width: 100%;
  }

  .project-banquet{
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media only screen and (min-width: 62rem) {
  .container {
    width: 58rem;
  }

  .intro {
    padding-right: 10rem;
    padding-left: 10rem;
  }

}

@media only screen and (min-width: 75rem) {
  .container {
    width: 69rem;
  }
}
