@charset "utf-8";

@import "normalize";
@import "color";

* {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
	-moz-osx-font-smoothing: grayscale;
}

html { font-size: 16px; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif !important;
  color: $text;
  background: $off;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
}

.wrap {
  width: 38rem;
  box-sizing: border-box;
  margin: 0 6rem;
}

h1 {
  font-weight: 400;
  font-size: 2.2rem;
  letter-spacing: 1px;
  line-height: 3.5rem;
  margin-top: 10rem;
  color: $tint;
}

ol {
  list-style: none;
  width: 100%;
  margin: 4rem 0 0;
}

li {
  font-size: 1.25rem;
  padding: 1.2rem 0;
  border-bottom: 1px solid $border;
  vertical-align: middle;
  span {
    font-size: .9rem;
    padding: .4rem 0 0 0;
    float: right;
    font-family: Menlo, monospace;
    color: $light-text;
  }
}

li:last-of-type {
  border-bottom: none;
}


aside {
  position: fixed;
  background: $tint;
  width: 5rem;
  height: 100%;
  right: 0;
  top: 0;
  animation-delay: 1.2s;
  animation-duration: .6s;
  animation-name: aside;
  animation-fill-mode: both;
  p {
    display: block;
    position: absolute;
    color: $off;
    font-size: .7rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
    top: 50%;
    left: 50%;
    width: 100vh;
    transform-origin: 0 0;
    transform: rotate(90deg) translateX(-50%) translateY(-50%);
    text-align: center;
  }
  a:link, a:visited {
    color: $off;
    text-decoration: none;
    transition: all 0.2s ease;
  }

  a:hover, a:active {
    color: rgba($off, .5);
    transition: all 0.2s ease;
  }
  span {
    padding: 0 .6rem;
    color: rgba($off,.4);
  }

}

@keyframes aside {
  from {
    opacity: 0;
    transform: translate3d(5rem, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
