@charset "utf-8";

@import "normalize";
@import "color";

* {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
	-moz-osx-font-smoothing: grayscale;
}

html { font-size: 8px; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif !important;
  color: $gray-7;
  line-height: 1.5;
  font-weight: 600;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  background-color: $white;
}

.site-wrap {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  padding: 0 3rem;
}

ul {
  list-style: none;
  margin-top: 0;
  padding: 0 0 8rem 0;
  column-count: 1;
}

li {
  padding: 0;
  font-size: 2rem;
  font-weight: 400;
  position: relative;
  height: 10rem;
  page-break-inside: avoid;
  break-inside: avoid-column;
 }


span.color-block {
  position: absolute;
  display: block;
  left: 0;
  top: .8rem;
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
}

h2 {
  font-size: 2.4rem;
  font-weight: 500;
  color: $gray-5;
  margin: 8rem 0 4rem;
}

h3 {
  font-size: 2.4rem;
  font-weight: 400;
  margin: 0 0 0 4rem;
}

h4 {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0 0 0 4rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $gray-4;
}

.dropbox { background: $project-dropbox; }
.liquid { background: $project-liquid; }
.delectable { background: $project-delectable; }
.banquet { background: $project-banquet; }
.ct { background: $project-ct; }
.wheelz { background: $project-wheelz; }


::selection { background: $yellow; }

p {
  font-size: 2.8rem;
  font-weight: 500;
  letter-spacing: 0px;
  margin: 4rem 0 0;
}


a:link, a:visited {
  color: $blue-9;
  text-decoration: none;
  transition: all 0.2s ease;
}

a:hover, a:active {
  color: $blue-7;
  transition: all 0.2s ease;
}

$small: 80rem;

@media only screen and (min-width: $small) {
  .site-wrap {
    margin: 0 auto;
    width: 80rem;
    padding: 6rem 0 0;
  }

  p {
    font-size: 3.6rem;
    margin: 6rem 0 0;
  }

  ul {
    list-style: none;
    margin-top: 0;
    padding: 0 0 16rem 0;
    column-count: 2;
  }
}
