<footer>
  <p><%= link_to 'Email', 'mailto:hi@bjornrostad.no' %> <span>/</span> <%= link_to 'iMessage', 'imessage:hi@bjornrostad.no' %> <span>/</span> <%= link_to 'Twitter', 'http://twitter.com/bearroast' %></p>
</footer>
