.about {
  .home {
    &:link, &:visited {
      color: $gray-5;
    }
    &:hover, &:active {
      color: rgba($gray-5, .7);
    }
    &:after {
      background: image-url('prev-b.svg') no-repeat center;
    }
  }

  #toggle {
    &:hover {
      span, span:after, span:before {
        background-color: $gray-4;
      }
    }
    span, span:after, span:before {
    	background-color: $gray-5;
    }
    &.is-active span {
    	background-color: transparent;
    }
    &.is-active span:before {
      background-color: $gray-6;
    }

    &.is-active span:after {
      background-color: $gray-6;
    }
    &.is-active {
      &:hover {
        span:after, span:before {
          background-color: $gray-6;
        }
      }
    }
  }
}

.bio {
  margin: 14rem 0 6rem;
  .entry {
    margin-left: 8.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
    font-size: 1.8rem;
    p {
      margin: 0 0 3rem;
    }
  }
}

.interests {
  margin: 4rem 0 2rem;
}

ul {
  list-style-type: none;
}
.title {
  margin-left: 0;
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
  text-align: right;
  h2 {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: $gray-4;
    letter-spacing: 2px;
    margin: 0;
    padding: 0.5rem 0 0 0;

  }
}

.entry {
  margin-left: 8.33333333%;
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
  text-align: left;
  ul {
    display: flex;
    flex-wrap: wrap;
  }
  li {
    margin: 0 0 2rem 0;
    flex-basis: 50%;
    max-width: 50%;
    h3, p {
      margin-right: 2rem;
    }
  }
  h3 {
    font-size: 1.2rem;
  }
  h6 {
    font-weight: 500;
    color: $gray-4;
    font-size: .7rem;
  }
}

.resume {
  padding: 4rem 0 2rem;
  background-color: $soft-white;
  h2 {
    padding: .4rem 0 0 0;
  }
    li {
      margin: 0 0 2rem 0;
      flex-basis: 100%;
      max-width: 100%;
  }
}


.education {
  padding: 4rem 0;

}
