.about {
  .home {
    &:link, &:visited {
      color: $gray-5;
    }
    &:hover, &:active {
      color: rgba($gray-5, .7);
    }
    &:after {
      background: image-url('prev-b.svg') no-repeat center;
    }
  }

  #toggle {
    &:hover {
      span, span:after, span:before {
        background-color: $gray-4;
      }
    }
    span, span:after, span:before {
    	background-color: $gray-5;
    }
    &.is-active span {
    	background-color: transparent;
    }
    &.is-active span:before {
      background-color: $gray-6;
    }

    &.is-active span:after {
      background-color: $gray-6;
    }
    &.is-active {
      &:hover {
        span:after, span:before {
          background-color: $gray-6;
        }
      }
    }
  }

  span.title {
    margin-left: 0;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
    text-align: right;
    font-size: 0.7rem;
    margin-top: 3.4rem;
    text-transform: uppercase;
    color: $gray-4;
    letter-spacing: 2px;
  }
  h3 {
    font-size: 1.2rem;
    color: $gray-5;
    letter-spacing: 0;
    display: block;
  }
  h4 {
    font-size: 0.7rem;
    color: $gray-3;
    font-weight: 600;
    letter-spacing: 1px;
  }

  .work, .projects, .education {
    box-sizing: border-box;
    display: flex;
    flex: 1 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .list {
    flex-basis: 75%;
    max-width: 75%;
    text-align: left;
    .entry {
      padding-left: 4rem;
      margin: 3rem 0;

    }
  }
}


.about-me {
  p {
    margin-left: 16.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
    font-size: 1.8rem;
    margin-top: 14rem;
    margin-bottom: 9rem;
    color: $gray-6;

  }
}

.resume {
  padding: 6rem 0;
  background-color: $soft-white;
}
