@import "screen/project-list";

.index {
  .home {
    z-index: -1;
    &:link, &:visited {
      color: $gray-4;
      border-bottom: none;
    }
    &:hover, &:active {
      color: rgba($gray-4, .4);
      font-weight: 500;
      font-size: 1.2rem;
      border-bottom: none;
    }
  }

  #nav-toggle {
    &:hover {
      span, span:after, span:before {
        background-color: $gray-4;
      }
    }
    span, span:after, span:before {
    	background-color: $gray-4;
    }
    &.is-active span {
    	background-color: transparent;
    }
    &.is-active span:before {
      background-color: $gray-5;
    }

    &.is-active span:after {
      background-color: $gray-5;
    }
    &.is-active {
      &:hover {
        span:after, span:before {
          background-color: gray-5;
        }
      }
    }
  }
}

.intro p {
  margin-left: 8.33333333%;
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
  font-size: 1.4rem;
  margin-top: 9rem;
  margin-bottom: 7rem;
}

@media only screen and (min-width: $small) {

}

@media only screen and (min-width: $medium) {
  .intro p {
    font-size: 1.6rem;
    margin-top: 12rem;
  }
}

@media only screen and (min-width: $large) {
  .intro p {
    font-size: 1.8rem;
    margin-top: 14rem;
    margin-bottom: 9rem;
    margin-left: 16.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
}

@media only screen and (min-width: $x-large) {
  .intro p {
    font-size: 2rem;
  }
}
