@import "screen/project-masthead";

.project-overview {
  padding: 1rem 0;
  text-align: center;;
  border-bottom: 2px solid $gray-1;

}

.overview-box {
  flex-basis: 100%;
  max-width: 100%;

  h5 {
    display: block;
    color: $gray-3;
    font-size: 0.6rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  span {
    display: block;
    color: $gray-5;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 0 1rem;
  }

}

.project-content {
  padding: 2rem 0 1rem;
  p {
    text-align: left;
    flex-basis: 100%;
    max-width: 100%;
    margin: 0 2rem 2rem 2rem;
  }

  h2 {
    flex-basis: 100%;
    max-width: 100%;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0 2rem 1rem 2rem;
  }
}

.last {
  padding-bottom: 4rem;
}

.odd {
  background: $soft-white;
}

.gallery {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  figure {
    flex-basis: 100%;
    max-width: 100%;
    text-align: center;
    margin: 0;
    img {
      max-width: 100%;
      margin: 0;
      overflow: hidden;
    }
  }
}


@media only screen and (min-width: $small) {
  .overview-box {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .project-overview {
    padding: 2rem 0;
    span {
      margin: 0;
    }
  }

  .project-content {
    padding: 2rem 0;
    p {
      text-align: left;
      margin-left: 16.66666667%;
      flex-basis: 66.66666667%;
      max-width: 66.66666667%;
    }

    h2 {
      margin-left: 16.66666667%;
      flex-basis: 66.66666667%;
      max-width: 66.66666667%;
      text-align: left;
      font-size: 1.6rem;
      font-weight: 400;
    }
  }
}
