@import "screen/project-masthead";

.index {
  background-color: #f8f9fa;
}
.delectable_index {
  background-color: darken($project-delectable, 3%);
  .project-overview {
    border-bottom: 1px solid darken($project-delectable, 6%);
  }
}
.project-overview {
  padding: 2rem 0;
  text-align: center;
  h5 {
    color: $gray-3;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  span {
    color: $gray-2;
    font-size: 1rem;
    font-weight: 500;
  }
}

.overview-box {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.project-content {
  p {
    margin-top: 4rem;
    margin-left: 16.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
    color: $gray-2;
  }

  h2 {
    margin-top: 4rem;
    margin-left: 16.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
    color: $gray-3;
    text-align: center;
  }

  img {
    flex-basis: 100%;
    max-width: 100%;
  }
}
