.scroll-indicator {
  position: absolute;
  bottom: 1.4rem;
  left: 50%;
  img {
    position: absolute;
    left: -27px;
    bottom: 0px;
  }
}

.aligner {
  min-height: 70vh;
  padding: 0 2rem;
  margin: 0 auto;
}

.masthead {
  h1 {
    margin: 8rem 0 1rem;
    text-align: center;
    font-size: 1.6rem;
    animation-delay: 0.4s;
    animation-duration: 1.8s;
    animation-name: fadeInHeader;
    animation-fill-mode: both;
    color: $white;
  }

  p {
    text-align: center;
    animation-delay: 0.4s;
    animation-duration: 1.8s;
    animation-name: fadeInHeader;
    animation-fill-mode: both;
    margin: 0 0 3rem;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0px;
    color: $gray-2;
  }
  .badge-container {
    text-align: center;
    margin: 0 0 4rem;
  }

}

.badge-1 {
      animation-duration: 1s;
      animation-name: fadeInHeader;
      animation-fill-mode: both;
      margin: 0 0 0.5rem;
      animation-delay: 1.4s;
}
.badge-2 {
      animation-duration: 1s;
      animation-name: fadeInHeader;
      animation-fill-mode: both;
      margin: 0 0 0.5rem;
      animation-delay: 1.6s;
}

.project-delectable-cover {
  background: image-url('project-delectable-cover.jpg') $project-delectable no-repeat center;
  background-size: cover;
  ::selection {
    background: $white;
  }
}

.project-alchemist-cover {
  background: image-url('project-alchemist-cover.jpg') $project-alchemist no-repeat center;
  background-size: cover;
  ::selection {
    background: $white;
  }
}

.project-banquet-cover {
  background: image-url('project-banquet-cover.jpg') $project-banquet no-repeat center;
  background-size: cover;
  ::selection {
    background: $white;
  }
}

@media only screen and (max-width: $small) {
  .scroll-indicator {
    display: none;
  }
}

@media only screen and (min-width: $small) {
  .masthead {
    h1 {
      margin: 10rem 0 1rem;
      font-size: 2rem;
      text-align: left;
    }
    p {
      margin: 0 0 4rem;
      text-align: left;
    }

    .badge-container {
      margin: 0 0 4rem;
      text-align: left;
    }
  }
}

@media only screen and (min-width: $medium) {
  .aligner {
    height: 100vh;
  }
  .masthead {
    h1 {
      margin: 14rem 0 1rem;
      font-size: 3rem;
    }
    p {
      margin: 0 0 4rem;
      font-size: 1rem;
      padding-right: 10rem;
    }

    .badge-container {
      margin: 0 0 0.5rem 0;
    }
  }
}
@media only screen and (min-width: $large) {
  .aligner {
    height: 100vh;
  }
  .masthead {
    h1 {
      margin: 16rem 0 1rem;
      font-size: 3rem;
    }
    p {
      margin: 0 0 4rem;
      font-size: 1.2rem;
      padding-right: 16rem;
    }

    .badge-container {
      margin: 0 0 0.5rem 0;
    }
  }
}

@media only screen and (min-width: $x-large) {
  .masthead {
    h1 {
      margin: 18rem 0 1rem;
      font-size: 3.2rem;
    }
    p {
      margin: 0 0 4rem;
      font-size: 1.4rem;
    }

    .badge-container {
      margin: 0 0 0.5rem 0;
    }
  }
}
