@import "screen/project-masthead";

.project-overview {
  padding: 2rem 0;
  text-align: center;;
  border-bottom: 2px solid $gray-1;

}

.overview-box {
  flex-basis: 100%;
  max-width: 100%;

  h5 {
    display: block;
    color: $gray-3;
    font-size: 0.7rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  span {
    display: block;
    color: $gray-5;
    font-size: .8rem;
    font-weight: 500;
    margin: 0 0 1rem;
  }

}

.project-content {
  margin: 4rem 0;
  p {
    text-align: left;
    margin-left: 16.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  h2 {
    margin-left: 16.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
    text-align: left;
    font-size: 1.6rem;
    font-weight: 400;
  }
}

.odd-bg {
  padding: 4rem 0;
  background: $soft-white;
}

.image-full {
  margin: 1rem 0 0;
  img { width: 100%; }
}

.single-gallery {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2rem 0;
  figure {
    flex-basis: 100%;
    max-width: 100%;
    text-align: center;
    margin: 1rem 0 0;
    img {
      max-width: 100%;
      margin: 0;
      border-radius: 3px;
      overflow: hidden;
      box-shadow: 0 12px 30px rgba(0,0,0, .05), 0 5px 12px rgba(0, 0, 0, .15);
    }
  }
}

.gallery {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2rem auto 0;
  figure {
    flex-basis: 100%;
    max-width: 100%;
    text-align: center;
    margin: 0;
    img {
      max-width: 80%;
      margin: 0;
      border-radius: 3px;
      overflow: hidden;
      box-shadow: 0 12px 30px rgba(0,0,0, .05), 0 5px 12px rgba(0, 0, 0, .15);
    }
  }
}


@media only screen and (min-width: $small) {
  .overview-box {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .gallery {
    figure {
      flex-basis: 33.33333333%;
      max-width: 33.33333333%;
      text-align: center;
      img {
        max-width: 90%;
        margin: 0;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 12px 30px rgba(0,0,0, .05), 0 5px 12px rgba(0, 0, 0, .15);
      }
    }
  }


  .project-overview {
    h5 {
      font-size: 0.8rem;
    }
    span {
      font-size: 1rem;
      margin: 0;
    }
  }
}
