.project-delectable {
  background: image-url('project-delectable-cover.jpg') $project-delectable no-repeat center;
  background-size: cover;
  ::selection {
    background: $project-delectable;
  }
  a:link, a:visited {
    color: $white;
  }
  a:hover, a:active {
    color: $project-delectable;
  }
  .chevron:after {
    background: image-url('chevron-delectable.svg') no-repeat center;
  }

}

.project-alchemist {
  background: image-url('project-alchemist-cover.jpg') $project-alchemist no-repeat center;
  background-size: cover;
  ::selection {
    background: $project-alchemist;
  }
  a:link, a:visited {
    color: $white;
  }
  a:hover, a:active {
    color: $project-alchemist;
  }
  .chevron:after {
    background: image-url('chevron-alchemist.svg') no-repeat center;
  }
}

.project-banquet {
  background: image-url('project-banquet-cover.jpg') $project-banquet no-repeat center;
  background-size: cover;
  ::selection {
    background: $project-banquet;
  }

  a:link, a:visited {
    color: $white;
  }
  a:hover, a:active {
    color: $project-banquet;
  }

  .chevron:after {
    background: image-url('chevron-banquet.svg') no-repeat center;
  }
}

.project {
  flex-basis: 100%;
  max-width: 100%;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;


  .content {
    position: relative;
    margin-left: 8.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
    height: 20rem;
  }

  h2 {
    font-size: 1.8rem;
    line-height: 1.4;
    color: $white;
    letter-spacing: 0px;
    font-weight: 300;
  }

  h4 {
    margin: 4rem 0 0;
    color: $white;
  }

  .link-container {
    position: absolute;
    bottom: 3rem;
    left: 0;
  }

  a:link, a:visited {
    display: block;
    border: 2px solid $white;
    font-weight: 600;
  }

  a:hover, a:active {
    background: $white;
    border: 2px solid $white;
    transition: all 0.2s ease;
  }
}



.chevron {
  padding: 1rem 2rem;
  overflow: hidden;
  position: relative;
  &:hover {
    padding: 1rem 3rem 1rem 2rem;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    opacity: 0;
    width: 13px;
    height: 100%;
    top: 0;
    right: 2rem;
    transition: all 0.2s ease-in-out
  }
  &:hover:after {
    opacity: 1;
    right: 1rem;
  }
}



@media only screen and (min-width: $small) {
  .project {
    h2 {
      font-size: 2.2rem;
    }

    h4 {
      margin: 6rem 0 0;
    }
    .content {
      height: 22rem;
    }
    .link-container {
      bottom: 4rem;
    }
  }
}

@media only screen and (min-width: $medium) {
  .project {

    h2 {
      font-size: 2.8rem;
    }
    .content {
      height: 24rem;
    }

  }
}

@media only screen and (min-width: $large) {
  .project {
    h2 {
      font-size: 3.6rem;
    }
    h4 {
      margin: 8rem 0 0;
    }
    .content {
      height: 28rem;
      margin-left: 16.66666667%;
      flex-basis: 66.66666667%;
      max-width: 66.66666667%;
    }
    .link-container {
      bottom: 6rem;
    }
  }
}

@media only screen and (min-width: $x-large) {
  .project {
    h2 {
      font-size: 4rem;
    }
    h4 {
      margin: 10rem 0 0;
    }
    .content {
      height: 32rem;
    }

    .link-container {
      bottom: 8rem;
    }
  }

}
