.project-delectable {
  background: image-url('project-delectable-cover.jpg') $project-delectable no-repeat center;
  background-size: cover;
  ::selection {
    background: $project-delectable;
  }
  a:link, a:visited {
    color: $white;
  }
  a:hover, a:active {
    color: $project-delectable;
  }
  .chevron:after {
    background: image-url('chevron-delectable.svg') no-repeat center;
  }

}

.project-alchemist {
  background: image-url('project-alchemist-cover.jpg') $project-alchemist no-repeat center;
  background-size: cover;
  ::selection {
    background: $project-alchemist;
  }
  a:link, a:visited {
    color: $white;
  }
  a:hover, a:active {
    color: $project-alchemist;
  }
  .chevron:after {
    background: image-url('chevron-alchemist.svg') no-repeat center;
  }
}

.project-banquet {
  background: image-url('project-banquet-cover.jpg') $project-banquet no-repeat center;
  background-size: cover;
  ::selection {
    background: $project-banquet;
  }

  a:link, a:visited {
    color: $white;
  }
  a:hover, a:active {
    color: $project-banquet;
  }

  .chevron:after {
    background: image-url('chevron-banquet.svg') no-repeat center;
  }
}

.project {
  flex-basis: 100%;
  max-width: 100%;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  height: 20rem;

  h2 {
    font-size: 1.8rem;
    line-height: 1.4;
    color: $white;
    letter-spacing: 0px;
    font-weight: 300;
    padding: 0.5rem 2rem;
  }

  h4 {
    color: $white;
    padding: 4rem 2rem 0 2rem;
  }

  a:link, a:visited {
    border: 2px solid $white;
    position: absolute;
    bottom: 3rem;
    left: 2rem;
    font-weight: 600;
  }
  a:hover, a:active {
    background: $white;
    border: 2px solid $white;
    bottom: 3rem;
    left: 2rem;
    transition: all 0.2s ease;
  }
}

.chevron {
  padding: 1rem 2rem;
  overflow: hidden;
  position: relative;
  &:hover {
    padding: 1rem 3rem 1rem 2rem;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 13px;
    height: 100%;
    top: 0;
    right: -2rem;
    transition: all 0.2s ease-in-out
  }
  &:hover:after {
    right: 1rem
  }
}



@media only screen and (min-width: $small) {
  .project {
    border-bottom: 2rem solid $white;
  }
}

@media only screen and (min-width: $medium) {
  .project {
    height: 24rem;
    h2 {
      font-size: 2.8rem;
    }
  }
}

@media only screen and (min-width: $large) {
  .project {
    height: 28rem;
      h2 {
        padding: 0.5rem 4rem;
        font-size: 3.4rem;
      }
      h4 {
        padding: 6rem 4rem 0 4rem;
      }

      a:link, a:visited {
        bottom: 4rem;
        left: 4rem;
      }
      a:hover, a:active {
        bottom: 4rem;
        left: 4rem;
      }
  }
}

@media only screen and (min-width: $x-large) {
  .project {
    height: 32rem;
    h2 {
      padding: 0.5rem 4rem;
      font-size: 4rem;
    }
    a {
      font-size: 1.2rem;
    }

  }
}
