.aligner {
  display: flex;
  height: 100%;
}

.masthead-text {
  box-sizing: border-box;
  flex-basis: 100%;
  padding: 4rem 2rem;
}

.masthead {
  h1 {
    margin: 4rem 0 2rem;
    font-size: 1.6rem;
    text-align: center;
    animation-delay: 0.4s;
    animation-duration: 1.8s;
    animation-name: fadeInHeader;
    animation-fill-mode: both;
    color: $white;
  }

  p {
    animation-delay: 0.4s;
    animation-duration: 1.8s;
    animation-name: fadeInHeader;
    animation-fill-mode: both;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0px;
    text-align: center;
    color: $gray-2;
  }
  img {
    animation-duration: 1s;
    animation-name: fadeInHeader;
    animation-fill-mode: both;
    margin: 0;
    padding-left: 2rem;
  }
}

.badge-1 {
      animation-delay: 1.4s;
}
.badge-2 {
      animation-delay: 1.6s;
}

.project-delectable-cover {
  background: image-url('project-delectable-cover.jpg') $project-delectable no-repeat center;
  background-size: cover;
  ::selection {
    background: $white;
  }
}

.project-alchemist-cover {
  background: image-url('project-alchemist-cover.jpg') $project-alchemist no-repeat center;
  background-size: cover;
  ::selection {
    background: $white;
  }
}

.project-banquet-cover {
  background: image-url('project-banquet-cover.jpg') $project-banquet no-repeat center;
  background-size: cover;
  ::selection {
    background: $white;
  }
}


@media only screen and (min-width: $small) {
  .aligner {
  }
  .masthead {

  }
}

@media only screen and (min-width: $medium) {
  .aligner {
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  .masthead {
    h1 {
      padding-right: 4rem;
      padding-left: 4rem;
    }
    p {
      padding-right: 20rem;
      padding-left: 4rem;
    }
    img {
      padding-left: 4rem;
    }
  }
}
@media only screen and (min-width: $large) {
  .masthead {

  }
}

@media only screen and (min-width: $x-large) {
  .masthead {

  }
}
