---
title: Bjørn Rostad › About
---

<section class="about-me">
  <div class="container">
    <p>I’m a Norwegian designer based in San Francisco. I’ve previously worked at Delectable, Code &amp; Theory and Wheelz (acquired by Turo). I’m now taking some time off to work on side projects.</p>
    <p>Get in touch at hi@bjornrostad.no or @bearroast on Twitter if you’re interested in discussing a job or a project.</p>
  </div>
</section>


<section class="resume">
  <div class="container">
    <div class="work">
      <span class="title">Work</span>
      <div class="list">
        <div class="entry">
          <h3>Banquet</h3>
          <h4>Product designer / 2015-2016</h4>
          <p>Designed Banquet Shopping for iOS — a consumer app for buying wine from the America’s leading wine retailers. Worked with Whole Foods 365 to design an in-store wine scanner. Designed Banquet Dashboard, a sales platform for wine retailers to keep track of inventory and sell products online.</p>
        </div>

        <div class="entry">
          <h3>Delectable</h3>
          <h4>Product designer / 2012-2015</h4>
          <p>Started as a web designer/developer and learned Ruby on Rails. Took over design of Delectable for iPhone for iOS 7 and beyond. Later designed Delectable for Android to great fanfare as one of the first Material Design apps on Play Store.</p>
        </div>

        <div class="entry">
          <h3>Code &amp; Theory</h3>
          <h4>Internship / 2012</h4>
          <p>Worked with a small team of UX designers prototyping and designing user flows for various clients. Prototyped interactions for an iPad TV remote and a Smart TV app.</p>
        </div>

        <div class="entry">
          <h3>Wheelz</h3>
          <h4>Internship / 2011</h4>
          <p>Worked on Wheelz for iOS, web and printed marketing material for the launch of Wheelz at Stanford University. Wheelz is a peer-to-peer car sharing company that later was aquired by Turo.</p>
        </div>
      </div>
    </div>

    <div class="projects">
      <span class="title">Side projects</span>
        <div class="list">
          <div class="entry">
            <h3>Alchemist Cocktails</h3>
            <h4>Design + code</h4>
            <p>Text.</p>
          </div>
      </div>
    </div>


    <div class="education">
      <span class="title">Education</span>
      <div class="list">

        <div class="entry">
          <h3>Academy of Art University</h3>
          <h4>Master of Fine Arts / Completed 2012</h4>
        </div>

        <div class="entry">
          <h3>Østfold University</h3>
          <h4>Media Production / Completed 2009</h4>
        </div>

      </div>
    </div>

  </div>
</section>
