---
title: Bjørn Rostad › About
---

<section class="bio">
  <div class="container">
    <div class="entry">
      <p>I‘m a Norwegian designer based in San Francisco who previously worked at <%= link_to 'Delectable', 'http://www.delectable.com' %>, <%= link_to 'Code &amp; Theory', 'http://www.codeandtheory.com' %> and Wheelz (acquired by <%= link_to 'Turo', 'https://turo.com' %>). Now working on a couple of passion projects while looking for my next fulltime gig.</p>
      <p>I‘m a generalist who can take good ideas, turn them into living products, beginning to end. I seek structure, visual elegance and simplicity.</p>
    </div>
  </div>
</section>


<section class="interests">
  <div class="container">
    <div class="title">
      <h2>Interests</h2>
    </div>
    <div class="entry">
      <ul>
        <li>
          <h3>Bicycle rides</h3>
          <p>My favorite bike is my custom built single-speed designed to be as light as possible with minimum maintenence.</p>
        </li>
        <li>
          <h3>PC gaming</h3>
          <p>Currently playing Battlefield One and World of Warcraft. I also try at least a couple of indie games on <%= link_to 'Steam', 'https://steamcommunity.com/id/bearroast/' %> every month.</p>
        </li>
        <li>
          <h3>Mixing Cocktails</h3>
          <p>My frustration with managing my home bar inspired me to make a cocktail app (available for iOS soon). Current crush: Blue Bottle Espresso Cocktail.</p>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="resume">
  <div class="container">
    <div class="title">
      <h2>Work</h2>
    </div>
    <div class="entry">
      <ul>
        <li>
          <h3>Banquet</h3>
          <h6>Product designer / 2015-2016</h6>
          <p>Designed Banquet Shopping for iOS — a consumer app for buying wine from the America’s leading wine retailers. Worked with Whole Foods 365 to design an in-store wine scanner. Designed Banquet Dashboard, a sales platform for wine retailers to keep track of inventory and sell products online.</p>
        </li>
        <li>
          <h3>Delectable</h3>
          <h6>Product designer / 2012-2015</h6>
          <p>Started as a web designer/developer and learned Ruby on Rails. Took over design of Delectable for iPhone for iOS 7 and beyond. Later designed Delectable for Android to great fanfare as one of the first Material Design apps on Play Store.</p>
        </li>
        <li>
          <h3>Code &amp; Theory</h3>
          <h6>Internship / 2012</h6>
          <p>Worked with a small team of UX designers prototyping and designing user flows for various clients. Prototyped interactions for an iPad TV remote and a Smart TV app.</p>
        </li>
        <li>
          <h3>Wheelz</h3>
          <h6>Internship / 2011</h6>
          <p>Worked on Wheelz for iOS, web and printed marketing material for the launch of Wheelz at Stanford University. Wheelz is a peer-to-peer car sharing company that later was aquired by Turo.</p>
        </li>
      </ul>
    </div>
  </div>
</section>


<section class="education">
  <div class="container">
    <div class="title">
      <h2>Education</h2>
    </div>
    <div class="entry">
      <ul>
        <li>
          <h3>Academy of Art</h3>
          <h6>Master of Fine Arts / Completed in 2012</h6>
        </li>
        <li>
          <h3>Østfold Universty</h3>
          <h6>Digital Media / Completed in 2009</h6>
        </li>
      </ul>
    </div>
  </div>
</section>
