---
title: Bjørn Rostad › Designing Alchemist
---

<div class="container">
  <div class="banner">
    <%= image_tag 'http://placehold.it/896x486' %>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h6>iPhone + Code</h6>
      <h1>Alchemist</h1>
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
        <h3>By simply taking a photo of a wine bottle, Delectable‘s image recognition engine will identify the wine in less than one second.</h3>
        <p>Wine is complex, and buying wine is even more difficult. So we’ve democratized the industry by letting both wine enthusiasts and experts write and share their tasting notes, and consolidating their reviews in one place. It was a lot of fun to design a product that is useful to both casual wine drinkers and industry experts, who work with wine fulltime as wine makers, journalists and sommeliers at the world‘s top restaurants.</p>
      </div>
    </div>
  </div>
</div>
