---
title: Bjørn Rostad › Banquet Shopping
---

<%= partial "layouts/fullscreen-menu" %>

<div class="site-wrap">
  <div class="push-wrap">

    <%= partial "layouts/navigation" %>
    <%= partial "layouts/scroll-to-top" %>

    <section class="masthead project-banquet-cover">
      <div class="container">
        <div class="aligner">
          <div class="masthead-text">
            <h1>Banquet Shopping</h1>
            <h3>Decription</h3>
          </div>
        </div>
      </div>
    </section>

    <main>
      <section class="project-overview">
        <div class="container">
          <div class="overview-box">
            <h5>Timeline</h5>
            <span>2015-2016</span>
          </div>
          <div class="overview-box">
            <h5>Role</h5>
            <span>Product Designer</span>
          </div>
          <div class="overview-box">
            <h5>Platform</h5>
            <span>iPhone, iPad and Web</span>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>

<script>

  var hamburger = document.getElementById('fullscreen-menu-toggle');
  hamburger.addEventListener('click', function (e) {
      hamburger.classList.toggle('is-active');
      e.preventDefault();
  });
</script>
