---
title: Bjørn Rostad › Delectable Wine
---
<%= partial "layouts/fullscreen-menu" %>

<div class="site-wrap">
  <div class="push-wrap">

    <%= partial "layouts/navigation" %>

    <section class="masthead project-delectable-cover">
      <div class="container">
        <div class="aligner">
          <div class="masthead-text">
            <h1>Delectable Wine</h1>
            <h3>The world of wine used to be opaque and difficult to understand. We wanted to change that. We built Delectable — a community of wine drinkers, industry experts and sommeliers.</h3>
            <%= image_tag 'app-store-best-new-app.svg', :class => 'badge-1' %>
            <%= image_tag 'play-store-editors-choice.svg', :class => 'badge-2' %>
          </div>
        </div>
      </div>
    </section>

    <main>
      <div class="container">
        <p>Content</p>
      </div>
    </main>
  </div>
</div>

<script>
  var hamburger = document.getElementById('fullscreen-menu-toggle');
  hamburger.addEventListener('click', function (e) {
      hamburger.classList.toggle('is-active');
      e.preventDefault();
  });
</script>
