---
title: Bjørn Rostad › Delectable Wine
---
<%= partial "layouts/fullscreen-menu" %>

<div class="site-wrap">
  <div class="push-wrap">

    <%= link_to 'Bjørn Rostad', '/index.html', :class => "previous" %>

    <a id="fullscreen-menu-toggle" class="toggle-nav">
      <span>
      </span>
    </a>

    <section class="masthead project-delectable-cover">
      <div class="container">
        <div class="aligner">
          <div class="masthead-text">
            <h1>Delectable Wine</h1>
            <h3>Decription</h3>
          </div>
        </div>
      </div>
    </section>

    <main>
      <div class="container">
        <p>Content</p>
      </div>
    </main>
  </div>
</div>

<script>
  var hamburger = document.getElementById('fullscreen-menu-toggle');
  hamburger.addEventListener('click', function (e) {
      hamburger.classList.toggle('is-active');
      e.preventDefault();
  });
</script>




<!--

          <ul>
            <li>Platform: iPhone and Android</li>
            <li>Role: Product Design</li>
            <li>Date: 2012-2015</li>
          </ul>

          <ul>
            <li>main screens ios + android + editors choice etc</li>
            <li>colors and icon</li>
            <li>wireframes and grid</li>
            <li>scan</li>
            <li>wine profile</li>
            <li>feed</li>
            <li>press + outcome</li>
          </ul>



          <h3>inspiration</h3>
          <ul>
            <li>case study: http://www.thomasmichel.me/livit.html</li>
            <li>case study: http://jessecha.se/work/blueapron.html</li>
            <li>case study: http://www.teehanlax.com/story/prismatic/</li>
            <li>case study: http://martijnvandenbroeck.com/portfolio/skype-now/</li>
            <li>case study: https://bakkenbaeck.com/case/kolonial</li>
            <li>resume: http://twnsnd.co</li>
            <li>intro: http://v4.kerem.co/works/fitbit</li>
            <li>about: http://martijnvandenbroeck.com/my-story/</li>
            <li>brand: http://doub.co/en/project/gdka</li>
            <li>index: http://sheldonlotter.com</li>
          </ul> -->
