---
title: Bjørn Rostad › Delectable Wine
---

<%= partial "layouts/header" %>
<%= partial "layouts/scroll-to-top" %>

<section class="masthead project-delectable-cover">
  <div class="container">
    <div class="aligner">
      <div class="masthead-text">
        <h1>Delectable Wine</h1>
        <p>The world of wine used to be opaque and difficult to understand. We wanted to change that. We built Delectable — a community of wine drinkers, industry experts and sommeliers.</p>
        <%= image_tag 'app-store-best-new-app.svg', :class => 'badge-1' %>
        <%= image_tag 'play-store-editors-choice.svg', :class => 'badge-2' %>
      </div>
    </div>
  </div>
</section>

<section class="project-overview">
  <div class="container">
    <div class="overview-box">
      <h5>Timeline</h5>
      <span>2012-2015</span>
    </div>
    <div class="overview-box">
      <h5>Role</h5>
      <span>Product Designer</span>
    </div>
    <div class="overview-box">
      <h5>Platform</h5>
      <span>iPhone and Android</span>
    </div>
  </div>
</section>

<section class="project-content">
  <div class="container">
    <p>Wine is complex, and buying wine is even more difficult. So we democratized the industry by letting both wine enthusiasts and experts write and share their tasting notes, and consolidating their reviews in one place. It was a lot of fun to design a product that is useful to both casual wine drinkers and industry experts, who work with wine fulltime as wine makers, journalists and sommeliers at the world‘s top restaurants.</p>
    <h2>Title</h2>
    <p>Wine is complex, and buying wine is even more difficult. So we democratized the industry by letting both wine enthusiasts and experts write and share their tasting notes, and consolidating their reviews in one place.</p>
  </div>
</div>

<section class="project-content">
  <div class="container-fluid">
    <div class="main-carousel carousel">
      <div class="carousel-cell">
        <img src="http://placehold.it/350x550/ffffff/23303B" width="350" height="550" />
      </div>
      <div class="carousel-cell">
        <img src="http://placehold.it/350x550/ffffff/f08c00" width="350" height="550" />
      </div>
      <div class="carousel-cell">
        <img src="http://placehold.it/350x550/ffffff/fff3bf" width="350" height="550" />
      </div>
    </div>
  </div>
</section>

<script>
var options = { prevNextButtons: false, contain: true, dragThreshold: 10, selectedAttraction: 0.1, friction: 0.9 };
if (matchMedia('screen and (min-width: 48rem)').matches) {
    options.draggable = false;
}
$('.main-carousel').flickity(options);

</script>
