---
title: Designing Delectable
---
<div class="container">
  <div class="row">
      <div class="col-xs-12
                  col-sm-12
                  col-md-12
                  col-lg-12">
          <h2>Designing Delectable</h2>
          <p>By simply taking a photo of any wine bottle, Delectable‘s image recognition engine will identify the wine in less than one second. Wine is complex, and buying wine is even more difficult. So we’ve democratized the industry by letting both wine enthusiasts and experts write and share their tasting notes, and consolidating their reviews in one place. It was a lot of fun to design a product that is useful to both casual wine drinkers and industry experts, who work with wine fulltime as wine makers, journalists and sommeliers at the world‘s top restaurants.</p>
          <ul>
            <li>Platform: iPhone and Android</li>
            <li>Role: Product Design</li>
            <li>Date: 2012-2015</li>
          </ul>

          <ul>
            <li>main screens ios + android + editors choice etc</li>
            <li>colors and icon</li>
            <li>wireframes and grid</li>
            <li>scan</li>
            <li>wine profile</li>
            <li>feed</li>
            <li>account</li>
            <li>press + outcome</li>
          </ul>



          <h3>inspiration</h3>
          <ul>
            <li>case study: http://www.thomasmichel.me/livit.html</li>
            <li>case study: http://jessecha.se/work/blueapron.html</li>
            <li>case study: http://www.teehanlax.com/story/prismatic/</li>
            <li>case study: http://martijnvandenbroeck.com/portfolio/skype-now/</li>
            <li>case study: https://bakkenbaeck.com/case/kolonial</li>
            <li>resume: http://twnsnd.co</li>
            <li>intro: http://v4.kerem.co/works/fitbit</li>
            <li>about: http://martijnvandenbroeck.com/my-story/</li>
            <li>brand: http://doub.co/en/project/gdka</li>
            <li>index: http://sheldonlotter.com</li>
          </ul>
        </div>
      </div>
  </div>
</div>
