---
title: Bjørn Rostad
---

<main>

  <section class="container">

        <div class="avatar">
          <%= image_tag 'bearroast.png', class: 'avatar', title: '@bearroast' %>
        </div>

        <div class="intro">
          <h3>Hello. I'm Bjørn Rostad, an interface designer who currently lives in San Francisco. My focus is designing and crafting products that are delightful, elegant and easy to use.</h3>
        </div>

  </section>

  <section class="container projects">

    <div class="project project-delectable">
      <h4>2012-2015</h4>
      <h2>Delectable for iPhone and Android</h2>
      <%= link_to 'View Project', '/delectable.html', :class => 'chevron' %>
    </div>

    <div class="project project-alchemist">
      <h4>2016</h4>
      <h2>Alchemist</h2>
      <a href="/alchemist.html" class="chevron">
        <span>View Project</span>
      </a>
    </div>

    <div class="project project-banquet">
      <h4>2015-2016</h4>
      <h2>Banquet for iPhone and iPad</h2>
      <%= link_to 'View Project', '/banquet.html', :class => 'chevron chevron-banquet' %>
    </div>

  </section>

</main>
