---
title: Bjørn Rostad
---

<h1>Bjørn Rostad is a designer working on Dropbox Paper.</h1>

<footer>
  <%= link_to 'hi@bjornrostad.no', 'mailto:hi@bjornrostad.no' %> <span>·</span>  <%= link_to 'iMessage', 'imessage://hi@bjornrostad.no' %>
</footer>
