---
title: Bjørn Rostad is a designer
---

<div class="bg"></div>
<%= image_tag 'bearroast.png', class: 'avatar', title: '@bearroast' %>
<div class="text">
  <h1>Bjørn Rostad</h1>
  <p>I’m a Norwegian designer based in San Francisco. I currently design <a href="http://shopbanquet.com">Banquet</a> and <a href="http://delectable.com">Delectable</a> for Android and iOS. Previously I’ve worked at <a href="http://codeandtheory.com">Code &amp; Theory</a> and Wheelz (acquired by <a href="http://turo.com">Turo</a>).</p>
  <p>You can reach me at <a href="mailto:hi@bjornrostad.no">hi@bjornrostad.no<a/> or <a href="http://twitter.com/bearroast">@bearroast</a>  on Twitter.</p>
</div>
