---
title: Bjørn Rostad
---

<h1>Bjørn Rostad is a product designer working on Dropbox Paper</h1>

<!--<p>When I got my own personal computer in the mid 90s I started experimenting with HTML. It felt amazing to be able to publish my thoughts and ideas to the internet through a few lines of code and a FTP-connection over a 33.6k modem.</p>
<p>In 2007 I fell in love with the iPhone and started playing with websites that work on touch screens. This brought me to San Francisco where I went to art school to pursue my passion for typography, animation and design.</p>-->
<p>I’ve been working at various companies focusing on designing products that are fun and easy to use. I work towards structure, visual elegance and simplicity.</p>

<ol>
  <li>Dropbox <span>Jan 2017 - Present</span></li>
  <li>Delectable <span>Jun 2012 - Sep 2016</span></li>
  <li>Code &amp; Theory <span>Feb 2012 - Jun 2012</span></li>
  <li>Wheelz <span>Aug 2011 - Dec 2011</span></li>
</ol>

<aside>
  <p>
  <%= link_to 'hi@bjornrostad.no', 'mailto:hi@bjornrostad.no' %> <span>·</span> <%= link_to 'Twitter', 'https://twitter.com/bearroast' %> <span>·</span> <%= link_to 'iMessage', 'imessage://hi@bjornrostad.no' %>
  </p>
</aside>
