---
title: Bjørn Rostad
---

<h1>Bjørn Rostad is a product designer working on Dropbox Paper</h1>

<ol>
  <li>Dropbox <span>Jan 2017 - Present</span></li>
  <li>Delectable <span>Jun 2012 - Sep 2016</span></li>
  <li>Code & Theory <span>Feb 2012 - Jun 2012</span></li>
  <li>Wheelz <span>Aug 2011 - Dec 2011</span></li>
</ol>

<aside>
  <p>
  <%= link_to 'hi@bjornrostad.no', 'https://dropbox.com/paper' %> <span>·</span> <%= link_to 'Twitter', 'https://dropbox.com/paper' %> <span>·</span> <%= link_to 'iMessage', 'https://dropbox.com/paper' %>
  </p>
</aside>
