---
title: Bjørn Rostad
---

<section class="intro">
  <div class="container">
    <p>Hello. I design <span style="background-color: #c5f6fa">apps and websites</span> that are <span style="background-color: #c3fae8">delightful and simple to use</span>.</p>
  </div>
</section>

<section class="project project-delectable">
  <div class="container">
    <div class="content">
      <h4>App design</h4>
      <h2>Delectable Wine</h2>
      <div class="link-container">
        <%= link_to 'View Project', 'delectable.html', :class => 'chevron' %>
      </div>
    </div>
  </div>
</section>

<section class="project project-banquet">
  <div class="container">
    <div class="content">
      <h4>App + Website design</h4>
      <h2>Banquet Shopping</h2>
      <div class="link-container">
        <%= link_to 'View Project', 'banquet.html', :class => 'chevron' %>
      </div>
    </div>
  </div>
</section>
