---
title: Bjørn Rostad
---

<section class="intro">
  <div class="container">
    <p>Hi. <%= link_to 'I‘m Bjørn Rostad', 'about.html' %>, a designer based in San Francisco.</p>
  </div>
</section>

<section class="project project-paper">
  <div class="container">
    <div class="content">
      <h4>Working on</h4>
      <h2>Dropbox Paper</h2>
      <div class="link-container">
        <%= link_to 'Visit Paper', 'http://paper.dropbox.com', :class => 'chevron' %>
      </div>
    </div>
  </div>
</section>

<section class="project project-delectable">
  <div class="container">
    <div class="content">
      <h4>2012-2015</h4>
      <h2>Delectable Wine</h2>
      <div class="link-container">
        <%= link_to 'View Project', 'delectable.html', :class => 'chevron' %>
      </div>
    </div>
  </div>
</section>

<section class="project project-banquet">
  <div class="container">
    <div class="content">
      <h4>2015-2016</h4>
      <h2>Banquet Shopping</h2>
      <div class="link-container">
        <%= link_to 'View Project', 'banquet.html', :class => 'chevron' %>
      </div>
    </div>
  </div>
</section>
