---
title: Bjørn Rostad
---

<section class="intro">
  <div class="container">
    <p>Hello. <%= link_to 'I‘m Bjørn', 'about.html' %>, a designer based in San Francisco who spent the last 10 years designing websites and a couple of iPhone and Android apps.</p>
  </div>
</section>

<section class="project project-delectable">
  <div class="container">
    <div class="content">
      <h4>App design</h4>
      <h2>Delectable Wine</h2>
      <div class="link-container">
        <%= link_to 'View Project', 'delectable.html', :class => 'chevron' %>
      </div>
    </div>
  </div>
</section>

<section class="project project-banquet">
  <div class="container">
    <div class="content">
      <h4>App + Website design</h4>
      <h2>Banquet Shopping</h2>
      <div class="link-container">
        <%= link_to 'View Project', 'banquet.html', :class => 'chevron' %>
      </div>
    </div>
  </div>
</section>
