---
title: Project
---
<div class="container">
  <div class="row">
      <div class="col-xs-12
                  col-sm-12
                  col-md-12
                  col-lg-12">
          <h2>Delectable</h2>
          <p>By simply taking a photo of a wine bottle, Delectable's image recognition engine identifies the wine in a second. The app will show you detailed information, community ratings and expert reviews. Delectable is standardizing wine names, consolidating wine reviews in one place, and providing a window into a still secretive subculture by showing us how winemakers, sommeliers and collectors talk to each other about wine.</p>
          <ul>
            <li>intro paragraph (Why did you do the project.)</li>
            <li>wireframes (feed, scan, profile) (How did you do the project.)</li>
            <li>styleguide</li>
            <li>final mocks (What was your end result.)</li>
            <li>outcome (app store rating, happy score)</li>
          </ul>
          <h3>inspiration</h3>
          <ul>
            <li>case study: http://www.thomasmichel.me/livit.html</li>
            <li>case study: http://jessecha.se/work/blueapron.html</li>
            <li>case study: http://www.teehanlax.com/story/prismatic/</li>
            <li>case study: http://martijnvandenbroeck.com/portfolio/skype-now/</li>
            <li>resume: http://twnsnd.co</li>
            <li>intro: http://v4.kerem.co/works/fitbit</li>
            <li>about: http://martijnvandenbroeck.com/my-story/</li>
            <li>brand: http://doub.co/en/project/gdka</li>
            <li>index: http://sheldonlotter.com</li>
          </ul>
        </div>
      </div>
  </div>
</div>
